* {
	margin: 0;
}

html, body {
	font-family: 'Josefin Sans', sans-serif;
	background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url("../images/bart-map.png") repeat;
	background-size: cover;
	color: #fff;
}

/********HEADER********/
#logo {
	display: block;
	height: 100px;
	max-width: 300px;
	margin: 10px auto 10px auto;
}


/**MAIN CONTENT CONTAINER**/
.content-container {
	min-height: 100%;
	margin-bottom: -20px;
	z-index: 9999;
}

.content-container:after {
	content: "";
	display: block;
	height: 20px;
}


/******DROPDOWN******/
#dropdown-form {
	display: block;
	height: 30px;
	width: 90%;
	max-width: 400px;
	margin: 20px auto 10px auto;
	text-align: center;
	padding-bottom: -20px;
	border-bottom: 2px solid white;
}

#dropdown-form select{
	border: 0px;
	outline: 0px;
}

/******RESULTS******/
.display-table {
	color: white;
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
	padding-top: -20px;
	text-align: left;
	border-bottom: 2px solid #fff;
}

.display-table caption {
	width: 	100%;
	font-size: 1.5em;
	margin: 10px auto 7px auto;
}

.display-table td {
	padding: .5em 0;
	font-size: 1.3em;
}

#departure-station {
	float: left;
}

#departure-times {
	float: right;
}

/**REFRESH BUTTON**/
#button-container {
	font-size: .9em;
	font-weight: lighter;
	margin: 0 auto;
	text-align: center;
}

.button {
	width: 120px;
	margin: 20px auto;
}

.button:hover {
	cursor: pointer;
	border-bottom: 2px solid #fff;
}

.button:active, .button:focus {
	outline: none;
	border: none;
}
